{% extends 'blog/base.html' %}

{% block content %}

{% load static %}
<div class="vg-page page-about" id="about">
    <div class="container py-5">
    <div class="row">
        <div class="col-lg-4 py-3">
        <div class="img-place wow fadeInUp">
            <img src="{% static 'img/ElisaResmini.png' %}" alt="Elisa Resmini">
        </div>
        </div>
        <div class="col-lg-6 offset-lg-1 wow fadeInRight">
        <h1 class="fw-light">Elisa Resmini</h1>
        <h5 class="fg-theme mb-3">Coach del benessere</h5>
        <br class="text-muted">
            Ho una malattia autoimmune che mi impediva di avere una vita normale, al lavoro ero sempre stanca, non riuscivo a dimagrire perché il mio intestino è cronicamente infiammato, passavo da un lavoro all'altro, nonostante io sia una grande lavoratrice, molto brava. 
            Mi &eacute; anche capitato di perdere il lavoro a causa della malattia. 
            Ho poi conosciuto la mia coach attuale, mi ha dato consigli sull'alimentazione, sull'integrazione e sull'attività fisica. 
            Ho perso velocemente 10 kg, 10/8 cm da fianchi, vita, cosce. 
            Il mio intestino non è più infiammato come un tempo e posso avere una vita normale.
        </p>
        <h5 class="fg-theme mb-3">Ora ho deciso anche io di aiutare le persone e rendere<br>
            "il mondo un luogo più sano"</h5>
        <ul class="theme-list">
            <li><b>Vive a:</b> Busto Arsizio, IT</li>
            <li><b>Et&aacute;:</b> 38 anni</li>
            <li><b>Chili persi:</b> 10 kg</li>
            <li><b>Centimetri persi:</b> 10 cm in vita, 8 cm su fianchi, cosce, petto</li>
        </ul>
        </div>
    </div>
    </div>


<div class="container py-5" id="attivita">
    <h1 class="text-center fw-normal wow fadeIn">Cosa farò per te</h1>
   
    <div class="container pt-5">
    <div class="row">
        <div class="col-md-6 wow fadeInRight">
        <h2 class="fw-normal">Alimentazione e integrazione</h2>
        <ul class="timeline mt-4 pr-md-5">
            <li>
            <div class="title">Valutazione benessere</div>
            <div class="details">
                <h5>Valutazione iniziale dello stato di salute del corpo</h5>
                <small class="fg-theme">Andiamo a capire da dove iniziamo e i tuoi obiettivi</small>
                <p>Registrazione peso, percentuale massa grassa e magra, fabbisogno metabolico, proteico e della quantità di acqua necessari al tuo corpo,</p>
            </div>
            </li>
            <li>
            <div class="title">Consigli alimentari</div>
            <div class="details">
                <h5>Supporto nutrizionale e integrazione</h5>
                <small class="fg-theme">Il tuo corpo per funzionare correttamente ha bisogno di 114 nutrimenti tutti i giorni</small>
                <p>Ti calcolerò come integrare la tua dieta attraverso prodotti inseriti nel prontuario farmaceutico, sicuri e naturali</p>
            </div>
            </li>
            <li>
            <div class="title">Diario alimentare</div>
            <div class="details">
                <h5>Consigni alimentari giornalieri</h5>
                <small class="fg-theme">Ti supporterò ogni giorno per raggiungere i tuoi risultati</small>
                <p>Ogni giorno mi manderai il tuo peso, gli alimenti che consumi e io ti consiglierò su come migliorare la tua alimentazione</p>
            </div>
            </li>
            <li>
                <div class="title">Community Facebook</div>
                <div class="details">
                    <h5>Consigli da vari esperti</h5>
                    <small class="fg-theme">Supporto e consigli di esperti certificati</small>
                    <p>Sarai inserito nella comunit&aacute; nazionale ad invito, dedicata ai clienti. 
                        Avrai consigli su ricette, prodotti di bellezza, workshop di farmacisti e medici, workout da fare a casa</p>
                </div>
            </li>
        </ul>
        </div>
        <div class="col-md-6 wow fadeInRight" data-wow-delay="200ms">
        <h2 class="fw-normal">Vita attiva</h2>
        <ul class="timeline mt-4 pr-md-5">
            <li>
            <div class="title">Gruppo di cammino</div>
            <div class="details">
                <h5>Busto e limitrofi zona Malpensa</h5>
                <small class="fg-theme">Camminare ha numerosi vantaggi a livello di salute</small>
                <p>Ci sono camminate durante la settimana e la domenica, puoi seguire gli eventi e partecipare a gli orari più adatti a te.</p>
            </div>
            </li>
            <li>
            <div class="title">Palestra</div>
            <div class="details">
                <h5>Tonificazione muscolare</h5>
                <small class="fg-theme">Consiglio almeno due workout a settimana</small>
                <p>Se sei nella mia zona posso consigliarti delle palestre in cui andare</p>
            </div>
            </li>
            <li>
            <div class="title">Personal trainer certificati</div>
            <div class="details">
                <h5>Specifici su aumento muscolare o perdita di peso (A pagamento)</h5>
                <small class="fg-theme">Possibilit&aacute; di personal trainer certificati</small>
                <p>Se vuoi un percorso più mirato posso farti conoscere i personal trainer del mio team, che sio occuperanno degli esercizi da fare a casa o in palestra</p>
            </div>
            </li>
        </ul>
        </div>
    </div>
    </div>
    </div>
        
        <!-- Blog -->
        <div class="vg-page page-blog" id="blog">
            <div class="container">
            <div class="text-center">
                <div class="badge badge-subhead wow fadeInUp">Blog</div>
            </div>
            <h1 class="text-center fw-normal wow fadeInUp">Latest Post</h1>
            <div class="row post-grid">
                {% for post in posts %}
                <article class="col-md-6 col-lg-4 wow fadeInUp">
                        <div class="card">
                            <div class="img-place">
                                <img src="{% static 'img/work/work-9.jpg' %}" alt="">
                            </div>
                            <div class="caption">
                                <a href="javascript:void(0)" class="post-category">Technology</a>
                                <h2><a href="{% url 'post_detail' pk=post.pk %}" class="post-title">{{ post.title }}</a></h2>
                                <time class="post-date"><span class="sr-only">Published on</span> {{ post.published_date }}</time>
                                <p>{{ post.text|linebreaksbr }}</p>
                            </div>
                        </div>
                </article>
                {% endfor %}
                <div class="col-12 text-center py-3 wow fadeInUp">
                <a href="blog-fullbar.html" class="btn btn-theme">See All Post</a>
                </div>
            </div>
            </div>
        </div> <!-- End blog -->
      
  
  {% endblock %}